body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px 'Open Sans', "Microsoft Yahei";
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 1100px;
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  width: 100%;
  background: #fff;
}
#container #wrap > .outer {
  padding: 0px 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
#container #wrap > .outer.open {
  opacity: 1;
}
#mobile-nav {
  display: none;
}
.logo {
  display: block;
  width: 160px;
  height: 24px;
  background: transparent;
  -webkit-background-size: 150px 24px;
  -moz-background-size: 150px 24px;
  background-size: 150px 24px;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 80%;
    margin: 0 0.909090909090909%;
  }
}
#main {
  float: right;
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-inner h1,
.article-entry h1,
.archive-article-inner h1,
.widget h1 {
  font-size: 2em;
}
.article-inner h2,
.article-entry h2,
.archive-article-inner h2,
.widget h2 {
  font-size: 1.5em;
}
.article-inner h3,
.article-entry h3,
.archive-article-inner h3,
.widget h3 {
  font-size: 1.3em;
}
.article-inner h4,
.article-entry h4,
.archive-article-inner h4,
.widget h4 {
  font-size: 1.2em;
}
.article-inner h5,
.article-entry h5,
.archive-article-inner h5,
.widget h5 {
  font-size: 1em;
}
.article-inner h6,
.article-entry h6,
.archive-article-inner h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-inner hr,
.article-entry hr,
.archive-article-inner hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-inner strong,
.article-entry strong,
.archive-article-inner strong,
.widget strong {
  font-weight: bold;
}
.article-inner em,
.article-entry em,
.archive-article-inner em,
.widget em,
.article-inner cite,
.article-entry cite,
.archive-article-inner cite,
.widget cite {
  font-style: italic;
}
.article-inner sup,
.article-entry sup,
.archive-article-inner sup,
.widget sup,
.article-inner sub,
.article-entry sub,
.archive-article-inner sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-inner sup,
.article-entry sup,
.archive-article-inner sup,
.widget sup {
  top: -0.5em;
}
.article-inner sub,
.article-entry sub,
.archive-article-inner sub,
.widget sub {
  bottom: -0.2em;
}
.article-inner small,
.article-entry small,
.archive-article-inner small,
.widget small {
  font-size: 0.85em;
}
.article-inner acronym,
.article-entry acronym,
.archive-article-inner acronym,
.widget acronym,
.article-inner abbr,
.article-entry abbr,
.archive-article-inner abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-inner ul,
.article-entry ul,
.archive-article-inner ul,
.widget ul,
.article-inner ol,
.article-entry ol,
.archive-article-inner ol,
.widget ol,
.article-inner dl,
.article-entry dl,
.archive-article-inner dl,
.widget dl {
  margin: 0 20px;
  line-height: 28px;
}
.article-inner ul ul,
.article-entry ul ul,
.archive-article-inner ul ul,
.widget ul ul,
.article-inner ol ul,
.article-entry ol ul,
.archive-article-inner ol ul,
.widget ol ul,
.article-inner ul ol,
.article-entry ul ol,
.archive-article-inner ul ol,
.widget ul ol,
.article-inner ol ol,
.article-entry ol ol,
.archive-article-inner ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-inner ul,
.article-entry ul,
.archive-article-inner ul,
.widget ul {
  list-style: disc;
}
.article-inner ol,
.article-entry ol,
.archive-article-inner ol,
.widget ol {
  list-style: decimal;
}
.article-inner dt,
.article-entry dt,
.archive-article-inner dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 0px;
  position: relative;
  background: #3a3f41;
  margin-bottom: 50px;
  padding: 0px 20px;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  -ms-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
#header.open {
  height: 94px;
}
#header .logo {
  float: left;
  margin: 18px 30px 0 0;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  display: block;
  height: 100%;
  overflow: hidden;
}
#main-nav {
  position: relative;
  float: left;
  top: 37px;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  display: block;
  padding: 0px 10px;
  text-transform: uppercase;
}
.nav-icon:hover,
.main-nav-link:hover {
  color: #11a7db;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 5px 7px;
  position: relative;
  cursor: pointer;
  float: left;
  top: 37px;
}
.main-nav-link {
  font-family: 'Open Sans', "Microsoft Yahei";
  font-weight: 600;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-github-link:before {
  content: "\f113";
}
#nav-search-btn {
  display: none;
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  float: left;
  margin: 29px 10px 0 22px;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 13px;
  border: 1px solid rgba(255,255,255,0.5);
  height: 38px;
  width: 252px;
  font-size: 15px;
  font-weight: 400;
  background: none;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  outline: none;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}
.search-form-input:focus {
  background: #fff;
}
.search-form-input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.search-form-input:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.search-form-input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.search-form-input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.search-form-submit {
  display: none;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-header {
  padding: 0px 0px 0;
  margin-bottom: 30px;
}
.article-title {
  text-decoration: none;
  font-size: 40px !important;
  font-weight: 300;
  color: #535353;
  line-height: 1.2;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #11a7db;
}
.article-entry {
  color: #535353;
  padding: 0 0px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 28px;
  margin: 0 0 22px 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.2;
  margin: 14px 0 11px 0;
}
.article-entry a {
  color: #11a7db;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 28px;
  margin-bottom: 28px;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 28px 20px;
  text-align: center;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 20px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-entry a.fancybox {
  display: block;
  text-align: center;
  line-height: 0;
}
.article-entry .img-wrap {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  min-width: 48px;
  min-height: 48px;
}
.article-entry .img-wrap:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url("images/preloader.gif") center center no-repeat, rgba(0,0,0,0.9);
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  background-size: 24px 24px;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #fff;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #11a7db;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #0e86af;
}
.article-footer {
  font-size: 0.85em;
  line-height: 28px;
  border-top: 1px solid #ddd;
  padding-top: 28px;
  margin: 0 0px 0px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #535353;
}
.article-tag-list {
  list-style: none !important;
  margin: 0px 5px !important;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #535353;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 28px;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #535353;
  outline: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#comments {
  background: #fff;
  padding: 0px;
  margin: 50px 0;
}
#comments a {
  color: #11a7db;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #535353;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 28px;
}
.archive-article-title:hover {
  color: #11a7db;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  line-height: 1;
  height: 43px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: color, background 0.2s;
  -moz-transition: color, background 0.2s;
  -ms-transition: color, background 0.2s;
  transition: color, background 0.2s;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #e8e8e8;
}
#page-nav .prev {
  float: left;
  width: 64px;
}
#page-nav .next {
  float: right;
  width: 64px;
}
#page-nav .page-number {
  display: inline-block;
  margin-right: 5px;
  background: #f6f6f6;
  color: #a6a6a7;
  width: 43px;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  font-weight: bold;
  background: #00a9db;
  color: #fff;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #3a3f41;
  padding: 50px 20px;
  border-top: 1px solid #ddd;
  color: #999;
  margin-top: 100px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
#footer.open {
  opacity: 1;
}
#footer a {
  color: #11a7db;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 20px;
}
#footer-info .logo {
  margin-bottom: 20px;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 0 28px 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #fff;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22px;
}
.article-entry .gist {
  margin: 0 0px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 0px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 0px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #11a7db;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #main {
    width: 100%;
  }
  #header {
    margin: 0px;
  }
  #header #main-nav {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
  }
  #header #main-nav.off {
    opacity: 0;
  }
  #header #sub-nav {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  #header #nav-search-btn {
    display: inline-block;
  }
  #header #search-form-wrap .search-form-input {
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    width: 0px;
    opacity: 0;
  }
  #header #search-form-wrap.on .search-form-input {
    width: 252px;
    opacity: 1;
  }
  #footer {
    margin-top: 0px;
  }
}
@media screen and (max-width: 479px) {
  #main {
    width: 100%;
  }
  #main-nav {
    float: right;
  }
  #header {
    margin: 0px;
  }
  #header #search-form-wrap,
  #header #nav-rss-link {
    display: none;
  }
  #header #main-nav-toggle {
    top: 0px;
  }
  #mobile-nav {
    display: block;
    position: relative;
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
    background: #3686be;
    -webkit-transition: max-height 0.2s linear;
    -moz-transition: max-height 0.2s linear;
    -ms-transition: max-height 0.2s linear;
    transition: max-height 0.2s linear;
  }
  #mobile-nav.off {
    max-height: 0px;
  }
  #mobile-nav #search-form-wrap-mobile {
    display: block;
    margin: 15px 20px;
  }
  #mobile-nav #search-form-wrap-mobile .search-form-input {
    width: 100%;
  }
  .mobile-nav-link {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 300;
  }
  .mobile-nav-link:hover {
    background-color: #2172ab;
  }
  #sidebar {
    display: none;
  }
  #footer {
    margin-top: 0px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .img-wrap:before {
    background: url("images/preloader@2x.gif") center center no-repeat, rgba(0,0,0,0.9);
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
#sidebar {
  text-align: right;
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 16.363636363636363%;
    margin: 0 0.909090909090909%;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #535353;
  padding: 15px 0px;
}
.widget a {
  color: #11a7db;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget {
  line-height: 28px;
  word-wrap: normal;
  font-size: 0.9em;
}
.widget:before,
.widget:after {
  content: "";
  display: table;
}
.widget:after {
  clear: both;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-left: 5px;
  word-wrap: normal;
  float: right;
}
